.mar-top-5{
	margin-top: 5px;
}
.mar-bot-5{
	margin-bottom: 5px;
}
.mar-5{
	margin: 5px;
}
.mar-top-10{
	margin-top: 10px;
}
.mar-bot-10{
	margin-bottom: 10px;
}
.mar-10{
	margin: 10px;
}

.pad-top-5{
	padding-top: 5px;
}
.pad-bot-5{
	padding-bottom: 5px;
}
.pad-5{
	padding: 5px;
}
.pad-top-10{
	padding-top: 10px;
}
.pad-bot-10{
	padding-bottom: 10px;
}
.pad-10{
	padding: 10px;
}
.pad-top-15{
	padding-top: 15px;
}
.pad-bot-15{
	padding-bottom: 15px;
}
.pad-15{
	padding: 15px;
}

.no-pad{
	padding: 0px !important;
}
.no-mar{
	margin: 0px !important;
}

.text-pink{
	color: #f37e82 !important;
	/* color: #ee6e73 !important; */
}

.bold{
	font-weight: 700 !important;
}

.has-error .form-control{
	border-color: #dd4b39 !important;
}

.hidden{
	visibility: none !important;
}

.button-list > a{
	margin: 1px;
}
.btn{
	border-radius: 0px;
}

.modal-footer{
	padding: 0px 15px 15px 15px;
}

.form-control[readonly]{
	background-color: transparent;
}

.callout.callout-sm{
	padding: 10px 30px 10px 15px;
}

.circled-icon{
	border-radius: 50%;
	border: 2px solid #dd4b39;
	width: 80px;
	height: 80px;
	line-height:70px;
	text-align: center;
}
.circled-icon i{
	font-size: 34px;
	color: #dd4b39;
	-webkit-text-stroke: 1px #ffffff;
	padding: 10px;
}

i.thin-icon{
	-webkit-text-stroke: 1px #ffffff;
}
i.big-icon{
	font-size: 70px;
	-webkit-text-stroke: 2px #ffffff;
}

/* .profile{
	padding: 10px 5px;
} */
.profile-header{
	padding: 0 0 30px 0;
}
.profile img{
	width: 100%;
	padding: 5px;
}
.photo-wrap{
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
}
.photo-button{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.btn.photo-button{
	border-radius: 50%;
	width: 46px;
	height: 46px;
}
.btn.photo-button i{
	margin-left: -3px;
}
.btn-dot3{
	border-radius: 50% !important;
	width: 46px;
	height: 46px;
	background-color: transparent;
	border: none;
	-webkit-text-stroke: 1px #ffffff;
}
.btn-dot3:hover{
	color: #333;
	background-color: #f5f5f5 !important;
	-webkit-text-stroke: 1px #f5f5f5 !important;
}
.open>.dropdown-toggle.btn-dot3 {
	color: #333;
	background-color: #f5f5f5 !important;
	-webkit-text-stroke: 1px #f5f5f5 !important;
}
.input-group-btn.custom .dropdown-menu{
	min-width: 130px;
}
.input-group-btn.custom > .dropdown-menu > li:hover{
	cursor: pointer;
}

.full-tabs .two-tabs > li{
	width: 50%;
}
.full-tabs.three-tab > li{
	width: 33.33%;
}
.full-tabs.four-tab > li{
	width: 25%;
}
.full-tabs>.nav-tabs>li{
	margin: 0px;
	text-align: center;
}
.nav-tabs-custom > .nav-tabs > li.active > a{
	font-weight: 700;
}



/* RESPONSIVE */
@media (min-width: 768px){
	.form-horizontal .content-label {
			padding-top: 7px;
	}
}